.navbar-collapse ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-collapse li {
  float: left;
}

.navbar-collapse li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-collapse li a:hover:not(.active) {
  background-color: #111;
}

.navbar-collapse .active {
  background-color: #4CAF50;
}
